<% provide :title, t("index") %>
<div class="container">
  <div class="row">
    <%= render "sidebar", brands: @brands %>
    <%= render "products/product", products: @products %>
  </div>
  <div class="panel-footer">
    <center><%= will_paginate @products %></center>
  </div>
</div>
