# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 043a51876c41bd377b702fba667c592b654c47153273b8841cd58da1539b3777427bc4e159dc0a9ba9ba92ced9118b0e66766f399d25accd9dfec71653d0e3a2

test:
  secret_key_base: 3494b62e24578a269866b3de1872a98a89497c0df2952527068115abac0842300d9dab81f2300427d32c427c40b7713d71153cf06ca4f08ba7bd94b91a0f50b6

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
