$wild-sand: #f4f4f4;
$c8: #888;
$ddd: #ddd;
$a6: #666;
$danube: #5a88ca;
$white: #fff;
$black: #000;
$dove-gray: #6e6a6a;
$ala: #fbfbfb;
$dusty: #999;
$mine-shaft: #222;
$school-yellow: #ffd800;
$cara: #f0f0e9;
$iron: #696763;
$desert: #f7f7f5;
$salmon: #fa8072;
$fountain-blue: #4abebd;
$westar: #e6e4df;
$spring-wood: #f7f7f0;
$west-side: #fe980f;
$dune: #363432;
$mine-shaft: #333;
$red: #f00;
