<% provide :title, @brand.name %>
<div class="container">
  <div class="row">
    <%= render "brand", brands: @brands %>
    <div class="col-sm-9">
      <% @brand.products.each do |product| %>
        <div class="col-sm-3">
          <div class="panel panel-primary">
            <%= link_to product.name, product,
              class: "list-group-item active main-color-bg" %>
            <div class="panel-body">
              <img src="https://placehold.it/150x80?text=IMAGE"
                class="img-responsive" alt="Image">
            </div>
            <div class="panel-footer"><%= t "add_to_cart" %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
