<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1>
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          <%= t "dashboard" %>
          <small><%= t "manage_your_site" %></small>
        </h1>
      </div>
    </div>
  </div>
</header>
